<head>
  <meta charset="utf-8">
  <title>Hello!</title>
  <meta name="description" content="vincentdubois.fr">
  <meta name="author" content="Vincent Dubois">
  <meta name="theme-color" content="#eaeaea">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">
  <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">
  <link rel="stylesheet" type="text/css"href="{{ '/assets/css/main.css' | relative_url }}">
</head>
